
#video1{
    position:absolute;
left: 15%;
    top: 1690px;

}
.video2{
    position: absolute;
    top:10%;
    color:white;
    left: 30%;
    font-size: 60px;

}
.video3{
    position: absolute;
    top:90%;
    color:white;
    left: 50%;
    font-size: 20px;
    text-decoration: none;
}
.video3:hover{
    text-decoration: underline;
}