html {
    height: 100vh;
}

body {
    height: 500vh;
    background: #000;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}
p {
    color:white;
    position:fixed;
    top:90%;
    left:48.5%;
    z-index:1;
    font-size: 15px;
}