.con2{
    position: absolute;
    height: 378px;
    width:100%;
    padding: 15px 15px;
    top: 5055px;

    background: #ffffff;
    border-radius: 0px;
}
.text18{
    position: absolute;
    height: 39px;
    width: 304px;
    left: 273px;
    right: 22.84%;
    top: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 120% */


    color: #000000;
}
.alp{
    position: absolute;
    height: 28px;
    width: 132px;
    left: 695px;
    right: 813px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.text19{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.text20{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 105px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text21{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 135px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text22{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 165px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.cmp{
    position: absolute;
    height: 28px;
    left: 920px;
    right: 616px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;

}
.text23{
    position: absolute;
    height: 22px;
    left: 920px;
    right: 616px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text24{
    position: absolute;
    height: 22px;
    left: 920px;
    right: 616px;
    top: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.sup{
    position: absolute;
    height: 28px;
    left: 1145px;
    right: 404px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.text25{
    position: absolute;
    height: 22px;
    width: 95px;
    left: 1145px;
    right: 404px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text26{
    position: absolute;
    height: 22px;
    width: 78px;
    left: 1145px;
    right: 404px;
    top: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text27{
    position: absolute;
    height: 22px;
    width: 101px ;
    left: 1145px;
    right: 404px;
    top: 135px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text28{
    position: absolute;
    height: 22px;
    width: 68px;
    left: 1145px;
    right: 404px;
    top: 165px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text29{
    position: absolute;
    height: 22px;
    left: 1370px;
    right: 165px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.text30{
    position: absolute;
    height: 22px;
    left: 1370px;
    right: 165px;
    top: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text31{
    position: absolute;
    height: 22px;
    left: 1370px;
    right: 165px;
    top: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text32{

    position: absolute;
    height: 22px;
    width: 80px;
    left: 1370px;
    right: 165px;
    top: 165px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}