*{margin: 0}
header {
    grid-area: header;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    color: white;
    height: 80px;
    max-width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.photo {
    position: absolute;
    left: 4.9%;
    top: 5px;

}
