.Macair2018{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 273px;
    right: 1064px;
    top: 125px;

    background: #DCE5E2;
    border-radius: 0px;
}
.macair2018{
    position: absolute;
    width: 247px;
    height: 164px;
    left: calc(50% - 247px/2);
    top: 55px;

    background: url(.png);
    border-radius: 0px;
}
.ipnair2018{
    position: absolute;
    height: 28px;
    left: 273px;
    right: 1191px;
    top: 400px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.txmair2018{
    position: absolute;
    height: 34px;
    width: 261px;
    left: 273px;
    right: 1106px;
    top: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.txair2018{
    position: absolute;
    height: 22px;
    left: 273px;
    right: 1234px;
    top: 465px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.Airm1{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 604px;
    right: 733px;
    top: 125px;

    background: #DCE5E2;
    border-radius: 0px;
}
.airm1{
    position: absolute;
    width: 247px;
    height: 254px;
    left: calc(50% - 247px/2);
    top: 5px;

    background: url(.png);
    border-radius: 0px;
}
.airm11{
    position: absolute;
    height: 28px;
    left: 604px;
    right: 733px;
    top: 400px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.txairm11{
    position: absolute;
    height: 34px;
    width: 261px;
    left: 604px;
    right: 733px;
    top: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.txairm1{
    position: absolute;
    height: 22px;
    left: 604px;
    right: 733px;
    top: 465px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.Air22{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 934px;
    right: 403px;;
    top: 125px;

    background: #DCE5E2;
    border-radius: 0px;
}
.air22{
    position: absolute;
    width: 247px;
    height: 204px;
    left: calc(50% - 247px/2);
    top: 25px;

    background: url(.png);
    border-radius: 0px;
}
.airr22{
    position: absolute;
    height: 28px;
    left: 934px;
    right: 403px;
    top: 400px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.txxair22{
    position: absolute;
    height: 34px;
    width: 261px;
    left: 934px;
    right: 403px;
    top: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.txair22{
    position: absolute;
    height: 22px;
    left: 934px;
    right: 403px;
    top: 465px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.Airm2{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 1265px;
    right: 403px;
    top: 125px;

    background: #DCE5E2;
    border-radius: 0px;
}
.airm2{
    position: absolute;
    width: 270px;
    height: 165px;
    left: calc(50% - 247px/2);
    top: 45px;

    background: url(.png);
    border-radius: 0px;
}
.airm22{
    position: absolute;
    height: 28px;
    left: 1265px;
    right: 403px;
    top: 400px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.txxairm2{
    position: absolute;
    height: 34px;
    width: 261px;
    left: 1265px;
    right: 403px;
    top: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.txairm2{
    position: absolute;
    height: 22px;
    left: 1265px;
    right: 403px;
    top: 465px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.Pro13{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 273px;
    right: 1064px;
    top: 525px;

    background: #DCE5E2;
    border-radius: 0px;
}
.pro13{
    position: absolute;
    width: 270px;
    height: 184px;
    left: calc(50% - 247px/2);
    top: 45px;

    background: url(.png);
    border-radius: 0px;
}
.macpro13{
    position: absolute;
    height: 28px;
    left: 273px;
    right: 1191px;
    top: 800px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.txxpro13{
    position: absolute;
    height: 34px;
    width: 261px;
    left: 273px;
    right: 1106px;
    top: 825px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.txpro13{
    position: absolute;
    height: 22px;
    left: 273px;
    right: 1234px;
    top: 865px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
