
body {
    height: 80px;
    left: 5.07%;
    right: 5.07%;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}
.text-title{
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    width: 780px;
    height: 53px;
    left: 600px;
    top: 680px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;

}
.text-text{
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    width: 780px;
    height: 53px;
    left: 600px;
    top: 750px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;

}
.text-title2{
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    width: 642px;
    height: 53px;
    left: calc(50% - 642px/2);
    top: 2436px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}
.text-text2{
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    width: 422px;
    height: 17px;
    left: calc(50% - 422px/2);
    top: 2480px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */


    color: #000000;
}
.MacBook-pro{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 14.9%;
    right: 0;
    top: 2540px;

    background: #DCE5E2;
    border-radius: 0px;
}

.macbookpro{
    position: absolute;
    width: 247px;
    height: 214px;
    left: calc(50% - 247px/2);
    top: calc(50% - 214px/2);


    border-radius: 0px;
}
.title5{
    position: absolute;
    height: 28px;
    left: 14.9%;
    right: 0;
    top: 2805px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.text5{
    position: absolute;
    height: 34px;
    width: 261px;
    left: 14.9%;
    right:0;
    top: 2830px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.text6{
    position: absolute;
    height: 22px;
    left: 14.9%;
    right: 0;
    top: 2900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.smartwatch{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 32.8%;
    right: 0;
    top: 2540px;

    background: #DCE5E2;
    border-radius: 0px;
}
.smartwatch1{
    position: absolute;
    width: 247px;
    height: 214px;
    left: calc(50% - 247px/2);
    top: calc(50% - 214px/2);


    border-radius: 0px;
}
.Textwatch1{
    position: absolute;
    height: 28px;
    left: 32.8%;
    right: 0;
    top: 2805px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.Textwatch2{
    position: absolute;
    height: 51px;
    width: 261px;
    left: 32.8%;
    right: 0;
    top: 2830px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.Textwatch3{
    position: absolute;
    height: 22px;
    left: 32.8%;
    right: 0;
    top: 2900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;
}
.macbookair{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 50.7%;
    right: 0;
    top: 2540px;

    background: #DCE5E2;
    border-radius: 0px;
}
.macbookair1{
    position: absolute;
    width: 247px;
    height: 214px;
    left: calc(50% - 247px/2);
    top: calc(50% - 214px/2);


    border-radius: 0px;
}
.textair1{
    position: absolute;
    height: 28px;
    left: 50.7%;
    right: 0;
    top: 2805px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.textair2{
    position: absolute;
    height: 51px;
    width: 261px;
    left: 50.7%;
    right: 0;
    top:  2830px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.textair3{
    position: absolute;
    height: 22px;
    left: 50.7%;
    right: 0;
    top: 2900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.ipad1{
    position: absolute;
    height: 270px;
    width: 303px;
    left: 68.6%;
    right: 0;
    top: 2540px;

    background: #DCE5E2;
    border-radius: 0px;
}
.ipad2{
    position: absolute;
    width: 247px;
    height: 214px;
    left: calc(50% - 247px/2);
    top: calc(50% - 214px/2);

    border-radius: 0px;
}
.textipad1{
    position: absolute;
    height: 28px;
    left: 68.6%;
    right: 0;
    top: 2805px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.textipad2{
    position: absolute;
    height: 51px;
    width: 261px;
    left: 68.6%;
    right: 0;
    top:  2830px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */


    color: #4B4B4B;

}
.textipad3{
    position: absolute;
    height: 22px;
    left: 68.6%;
    right: 0;
    top: 2900px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;
}
.title6{
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    width: 529px;
    height: 53px;
    left: calc(50% - 529px/2 + 0.5px);
    top: 2957px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}
.text7{
    position: absolute;
    width: 422px;
    height: 17px;
    left: calc(50% - 422px/2);
    top: 3019px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */


    color: #000000;
}
.titles{
    position: absolute;
    height: 453px;
    width: 413px;
    left: 14.7%;
    right: 0;
    top: 3092px;

    background: #DCE5E2;
    border-radius: 16px;
}
.button{
    box-sizing: border-box;

    position: absolute;
    height: 50px;
    width: 190px;
    left: 111px;
    right: 111px;
    top: 123px;

    border: 1px solid #000000;
    border-radius: 200px;
}
.buttontext{
    position: absolute;
    width: 64px;
    height: 22px;
    left: calc(50% - 64px/2);
    top: calc(50% - 22px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */

    text-align: center;
    text-transform: capitalize;

    color: #000000;

}
.apple{
    position: absolute;
    width: 259px;
    height: 250px;
    left: calc(50% - 259px/2);
    top: calc(50% - 250px/2 + 101.5px);


    border-radius: 0px;
}
.title7{
    position: absolute;
    width: 141px;
    height: 17px;
    left: calc(50% - 141px/2);
    top: calc(50% - 17px/2 - 177px);

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #000000;
}
.text8{
    position: absolute;
    width: 253px;
    height: 35px;
    left: calc(50% - 253px/2);
    top: calc(50% - 35px/2 - 151px);

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}
.titles1{
    position: absolute;
    height: 453px;
    width: 413px;
    left: 38.5%;
    right: 0;
    top: 3092px;

    background: #DCE5E2;
    border-radius: 16px;
}
.button1{

    box-sizing: border-box;

    position: absolute;
    height: 50px;
    width: 190px;
    left: 111px;
    right: 111px;
    top: 123px;

    border: 1px solid #000000;
    border-radius: 200px;
}
.buttontext1{
    position: absolute;
    width: 64px;
    height: 22px;
    left: calc(50% - 64px/2);
    top: calc(50% - 22px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */

    text-align: center;
    text-transform: capitalize;

    color: #000000;


}
.apple1{
    position: absolute;
    width: 294px;
    height: 250px;
    left: calc(50% - 294px/2 - 0.5px);
    top: calc(50% - 250px/2 + 101.5px);


    border-radius: 0px;
}
.title8{
    position: absolute;
    width: 141px;
    height: 17px;
    left: calc(50% - 141px/2 - 1px);
    top: calc(50% - 17px/2 - 177px);

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #000000;

}
.text9{
    position: absolute;
    width: 163px;
    height: 35px;
    left: calc(50% - 163px/2 - 1px);
    top: calc(50% - 35px/2 - 151px);

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}
.titles2{
    position: absolute;
    height: 453px;
    width: 413px;
    left: 62.4%;
    right: 0;
    top: 3092px;

    background: #DCE5E2;
    border-radius: 16px;
}
.button2{

    box-sizing: border-box;

    position: absolute;
    height: 50px;
    width: 190px;
    left: 111px;
    right: 111px;
    top: 123px;

    border: 1px solid #000000;
    border-radius: 200px;
}
.buttontext2{
    position: absolute;
    width: 64px;
    height: 22px;
    left: calc(50% - 64px/2);
    top: calc(50% - 22px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */

    text-align: center;
    text-transform: capitalize;

    color: #000000;


}
.apple2{
    position: absolute;
    width: 294px;
    height: 250px;
    left: calc(50% - 294px/2 - 0.5px);
    top: calc(50% - 250px/2 + 101.5px);


    border-radius: 0px;
}
.title9{
    position: absolute;
    width: 141px;
    height: 17px;
    left: calc(50% - 141px/2);
    top: calc(50% - 17px/2 - 177px);

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #000000;
}
.text10{
    position: absolute;
    width: 201px;
    height: 35px;
    left: calc(50% - 201px/2);
    top: calc(50% - 35px/2 - 151px);

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;

}
.title10{
    position: absolute;
    width: 497px;
    height: 53px;
    left: calc(50% - 497px/2 + 0.5px);
    top: 3600px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;

}
.text11{
    position: absolute;
    width: 422px;
    height: 17px;
    left: calc(50% - 422px/2);
    top: 3660px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #000000;

}
.foto{
    position: absolute;
    width: 620px;
    height: 420px;
    left: 14.7%;
    top: 3705px;

    border-radius: 16px;
}
.text12{
    position: absolute;
    height: 60px;
    width: 569px;
    left: 50.3%;
    right: 0;
    top: 3705px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */


    color: #000000;
}
.text13{
    position: absolute;
    height: 30px;
    left: 50.3%;
    right: 0;
    top: 3780px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */


    color: #000000;

}
.text14{
    position: absolute;
    height: 30px;
    left: 50.3%;
    right:0 ;
    top: 3830px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */


    color: #000000;

}
.text15{
    position: absolute;
    height: 60px;
    width: 569px;
    left: 50.3%;
    right: 0;
    top: 3880px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */


    color: #000000;
}
.text16{
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    height: 29px;
    width: 79px;
    left:50%;
    right: 0;
    top: 4150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height, or 120% */

    text-transform: capitalize;
}
.vectorr{
    position: absolute;
    height: 28px;
    left: 54%;
    right: 0;
    top: 4150px;

    border-radius: 0px;
}
.title11 {
    Display: flex;
    Justify-content: center;
    Align-items:center;
    position: absolute;
    width: 563px;
    height: 53px;
    left: calc(50% - 563px / 2);
    top: 4202px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}
.con{
    position: absolute;
    height: 450px;
    width: 935px;
    left: 25%;
    right: 0;
    top: 4466px;

    background: #DCE5E2;
    border-radius: 16px;
}
.title12{

    position: absolute;
    width: 393px;
    height: 53px;
    left: calc(50% - 393px/2 - 0.48px);
    top: 19.45px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;

}
.text17{
    position: absolute;
    width: 549px;
    height: 20px;
    left: calc(50% - 549px/2 - 0.48px);
    top: 81.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 120% */

    text-align: center;

    color: #000000;
}
.fotonus{
    position: absolute;
    width: 233px;
    height: 200px;
    left: calc(50% - 233px/2);
    top: 143px;


    border-radius: 0px;
}
.con2{
    position: absolute;
    height: 378px;
    width:100%;
    left:0%;
    right: 0%;
    top: 4935px;

    background: #ffffff;
    border-radius: 0px;
}
.text18{
    position: absolute;
    height: 39px;
    width: 304px;
    left: 273px;
    right: 22.84%;
    top: 65px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 120% */


    color: #000000;
}
.alp{
    position: absolute;
    height: 28px;
    width: 132px;
    left: 695px;
    right: 813px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.text19{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.text20{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 105px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text21{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 135px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text22{
    position: absolute;
    height: 22px;
    left: 695px;
    right: 883px;
    top: 165px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.cmp{
    position: absolute;
    height: 28px;
    left: 920px;
    right: 616px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;

}
.text23{
    position: absolute;
    height: 22px;
    left: 920px;
    right: 616px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text24{
    position: absolute;
    height: 22px;
    left: 920px;
    right: 616px;
    top: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.sup{
    position: absolute;
    height: 28px;
    left: 1145px;
    right: 404px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;
}
.text25{
    position: absolute;
    height: 22px;
    width: 95px;
    left: 1145px;
    right: 404px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text26{
    position: absolute;
    height: 22px;
    width: 78px;
    left: 1145px;
    right: 404px;
    top: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text27{
    position: absolute;
    height: 22px;
    width: 101px ;
    left: 1145px;
    right: 404px;
    top: 135px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text28{
    position: absolute;
    height: 22px;
    width: 68px;
    left: 1145px;
    right: 404px;
    top: 165px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

 }
.text29{
    position: absolute;
    height: 22px;
    left: 1370px;
    right: 165px;
    top: 75px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.text30{
    position: absolute;
    height: 22px;
    left: 1370px;
    right: 165px;
    top: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.text31{
    position: absolute;
    height: 22px;
    left: 1370px;
    right: 165px;
    top: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.text32{

    position: absolute;
    height: 22px;
    width: 80px;
    left: 1370px;
    right: 165px;
    top: 165px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;
}
.flw{
    position: absolute;
    height: 28px;
    width: 105px;
    left: 1370px;
    right: 165px;
    top: 25px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */


    color: #000000;

}
.made{
    position: absolute;
    height: 22px;
    width: 85px;
    left: 273px;
    right: 1282px;
    top: 352px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;
}
.vad{
    position: absolute;
    height: 22px;
    left: 358px;
    right: 1210px;
    top: 352px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */


    color: #000000;

}
.vadv{

    position: absolute;
    height: 18px;
    left: 415px;
    right: 1189px;
    top: 352px;

    border-radius: 0px;
}
.logodown{
    position: absolute;
    height: 22px;
    left: 273px;
    right: 1186px;
    top: 25px;

    border-radius: 0px;
}
.label{
    box-sizing: border-box;

    position: absolute;
    height: 50px;
    width: 285px ;
    left: 267px;
    right: 383px;
    top: 357px;

    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0px 0px 54px;
}
.sig{
    position: absolute;
    height: 50px;
    width: 115px;
    left: 552px;
    right: 268px;
    top: 357px;

    background: #000000;
    color:white;
    border-radius: 0px 200px 200px 0px;
}
.saekh{
    box-sizing: border-box;

    position: absolute;
    height: 60px;
    width: 650px;
    left: 595px;
    right: 395px;
    top: 4285px;

    background: #ffffff;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
}
.icon{
    position: absolute;
    height: 29px;
    left: 1192px;
    right: 998px;
    top: 4300px;

    border-radius: 0px;
}
.batton{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 90px;
    left: 649px;
    right: 901px;
    top: 4357px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton1{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 98px;
    left: 746px;
    right: 796px;
    top: 4357px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton2{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 68px;
    left: 851px;
    right: 721px;
    top: 4357px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton3{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 142px;
    left: 926px;
    right: 572px;
    top: 4357px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton4{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 109px;
    left: 1075px;
    right: 456px;
    top: 4357px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton5{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 118px;
    left: 703px;
    right: 819px;
    top: 4406px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton6{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 109px;
    left: 828px;
    right: 703px;
    top: 4406px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton7{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 91px;
    left: 944px;
    right: 605px;
    top: 4406px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}
.batton8{
    box-sizing: border-box;

    position: absolute;
    height: 42px;
    width: 89px;
    left: 1042px;
    right: 509px;
    top: 4406px;

    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
}

.text33{
    position: absolute;
    height: 22px;
    width: 200px;
    left: 695px;
    right: 883px;
    top: 195px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 127% */


    color: #000000;

}
.strila{
    position:absolute ;
    height: 32px;
    width: 32px;
    left:93%;
    top: 420px;
    fill: #4B4B4B;
}
.strila1{
    position:absolute ;
    height: 32px;
    width: 32px;
    left:89%;
    top: 590px;
}
.strila2{
    position:absolute ;
    height: 32px;
    width: 32px;
    left:85%;
    top: 160px;
}
.strila3{
    position:absolute ;
    height: 32px;
    width: 32px;
    left:93%;
    top: 220px;
}
