.colors {
    display: flex;
    margin-top: 10px;

}

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
}
.img{
    width: 600px;
    height: 600px;
}
.product{
    width: 600px;
    height: 700px;
    background-color: #DCE5E2;
}  