.colors {
    display: flex;
    margin-top: 10px;

}

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
}
.img{
    width: 600px;
    height: 600px;
}
.product{
    margin-top: 50px;
    width: 600px;
    height: 700px;
    background-color: #DCE5E2;
}
.img2{
    height: 350px;
    width: 600px;
}
.img3{
    height: 450px;
    width: 800px;
    margin-left: -100px;
}
.textcalalog{
    margin-top: -650px;
    margin-left: 55%;
}
ul{
    font-size: 32px;
    margin-left: -52%;
}